@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-image: linear-gradient(to right, rgb(112, 66, 196), rgb(192, 107, 226));
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.menu{
    display: flex;
    gap: 10px;
}

.item-menu{
    font-family: 'Jura', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 18px;
    padding: 24px;
    font-weight: bold;
}

.item-menu:hover{
    font-family: 'Jura', sans-serif;
    color: rgb(25, 1, 48);
    font-weight: 400;
    font-size: 18px;
    padding: 24px;
    font-weight: bold;
}
.logo-tech{
    height: 80px;
}

.titulo-tech{
    font-family: 'Jura',cursive;
    text-align: center;
    color: white;
}

.conteudo-tech{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.conteudo-tech-texto{
    font-family: 'Jura',sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.imagem-tech{
    height: 500px;
}

.texto-tech{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Jura',sans-serif;
    color: white;
    text-align: left;
    font-size: 24px;
}

.imagem-integrantes{
    height: 200px;
    padding: auto;
    padding: 24px;
}

.conteudo-imagem-integrantes{
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: auto;  
}

.imagem-legenda{
    text-align: center;
    font-family: 'Jura',sans-serif;
    font-size: 18px;
    color: white;
}

.footer{
    text-align:center;
    justify-content: center;
    margin-top: auto;
    padding-top: 4px;
    width: 100%;
    padding: 1px;
    color: white;
}

.copyright{
    font-family: 'Jura',sans-serif;
    text-align:center;
    font-size:20px;
}

.titulo-projeto{
    text-align: center;
    font-family: 'Jura', cursive;
    color: white;
}

.subtitulo-projeto{
    text-align: center;
    font-family: 'Jura', sans-serif;
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

.conteudo-projeto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.conteudo-projeto-texto{
    font-family: 'Jura',sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.imagem-projeto{
    height: 300px;
}

.texto-projeto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Jura',sans-serif;
    color: white;
    text-align: left;
    font-size: 20px;
    margin-left: 40px;
}

.titulo-tema-projeto{
    text-align: center;
    font-family: 'Jura', cursive;
    color: white;
    margin-top: 50px;
}

.subtitulo-tema-projeto{
    text-align: center;
    font-family: 'Jura', sans-serif;
    color: white;
    font-size: 25px;
    margin-top: 20px;
}

.conteudo-projeto-tema{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.imagem-transito{
    height: 300px;
}

.conteudo-projeto-tema-texto{
    font-family: 'Jura',sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.texto-tema{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Jura',sans-serif;
    color: white;
    text-align: left;
    font-size: 20px;
    margin-left: 40px; 
}

.titulo-principal{
    text-align: center;
    font-family: 'Jura', cursive;
    color: white;
}

.titulo-tiana{
    text-align: center;
    font-family: 'Jura', sans-serif;
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

.conteudo-tiana{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.imagem-tiana{
    height: 350px;
}

.conteudo-tiana-texto{
    font-family: 'Jura',sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.texto-tiana{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Jura',sans-serif;
    color: white;
    text-align: left;
    font-size: 20px;
    margin-left: 40px; 
}

.legenda-imagem-tiana{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Jura',sans-serif;
    color: white;
}

.conteudo-propostas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    margin-top: 45px;
}

.conteudo-proposta-arduino{
    font-family: 'Jura',sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-left: 15%;
    color: white;
}

.titulo-arduino{
    font-family: 'Jura',sans-serif;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.imagem-proposta-arduino{
    height: 300px;
    margin-right: 100%;
}

.conteudo-proposta-web{
    font-family: 'Jura',sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-right: 10%;
    color: white;
}

.titulo-web{
    font-family: 'Jura',sans-serif;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.imagem-proposta-web{
    height: 300px;
    margin-left: 10%;
}

.conteudo-proposta-tiana{
    font-family: 'Jura',sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-left: 10%;
    color: white;
}

.titulo-proposta-tiana{
    font-family: 'Jura',sans-serif;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: bold;
}

.imagem-proposta-tiana{
    height: 300px;
    margin-right: 10%;
}

.login{
    background-color: rgb(114, 31, 146);
    height: 550px;
    width: 500px;
    justify-content: center;
    top: 50%;
    left: 50%;
    padding: 80px;
    border-radius: 15px;
    color: #fff;
    margin-bottom: 50px;
    margin-left: 32%;
}

.login-input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
}

.login-botao{
    background-color: rgb(192, 107, 226);
    border: none;
    padding: 15px;
    width: 100px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    margin-bottom: 10%;
}

.login-botao:hover{
    background-color: rgb(165, 45, 212);
    cursor: pointer;
}

.login-titulo{
    font-family: 'Jura',sans-serif;
    text-align: center;
    color: white;
    font-size: 35px;
    margin-bottom: 15px;
    font-weight: bold;
}

.login-paragrafo{
    font-family: 'Jura',sans-serif;
    color: white;
    font-size: 20px;
}

.login-paragrafo2{
    padding: 10px;
    font-family: 'Jura',sans-serif;
    color: white;
    font-size: 17px;
}

.clique-login{
    color: rgb(200, 109, 236) ;
}

.cadastro-login{
    color: rgb(200, 109, 236) ;
}

.fa-angle-double-down {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 20px;
    width: 10px;
    font-size: 2.5vw;
    color: #aaa;
    z-index: 11;
    opacity: 1;
    filter: alpha(opacity=100);
    cursor: pointer;
    -webkit-animation: glow 4s infinite;
    animation: glow 4s infinite;
}

.scroll{
    background-image: url(../imagens/imagemScrolldown.png);
    height: 100vh;
    position: relative;
    background-size: cover;
}

.scroll-conteudo {
    padding: 0px 100px 50px 100px;
    padding-top:190px;
    position: absolute;
    height: 50vh;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 10;
}

.scroll-conteudo button{
    color:var(--cor-destaque-scrolldown);
    padding-top:10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 500ms linear;
}

.scroll-conteudo button:hover{
    transform: scale(1.1);
}

.scroll-conteudo h2{
    font-family: 'Jura', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 80px;
}

.gradient-overlay {
    height: 100%;
    width: 100%;
    background: -webkit-linear-gradient(#000000 20%, #020202);
    background: linear-gradient(#070202 20%, #0c0808);
    opacity: 0.6;
    filter: alpha(opacity=40);
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.tituloInicial{
    width:400px;
    font-family: 'Jura', sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 24px;
}

.conteudoHome{
    display: flex;
    justify-content: center;
    padding:10px;
}

.conteudoHome p{
    font-size: 24px;
    text-align: justify;
    font-family: 'Jura', sans-serif;
    color: rgb(255, 255, 255);
}

.conteudoHome img{
    margin-right: 10px;
}

.conteudoHome a{
    text-decoration: none;
    color:#000;
}