@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    padding: 2px;

}

body{
    font-size: 100%;
    background-image: linear-gradient(to right, rgb(112, 66, 196), rgb(192, 107, 226));
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.menu{
    display: flex;
    gap: 10px;
}

.item-menu{
    font-family: 'Jura', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 18px;
    padding: 24px;
    font-weight: bold;
}

.item-menu:hover{
    font-family: 'Jura', sans-serif;
    color: rgb(25, 1, 48);
    font-weight: 400;
    font-size: 18px;
    padding: 24px;
    font-weight: bold;
}
.logo-tech{
    height: 80px;
}

.titulo-tech{
    font-family: 'Jura',cursive;
    text-align: center;
    color: white;
}

.conteudo-tech{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.conteudo-tech-texto{
    font-family: 'Jura',sans-serif;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.imagem-tech{
    height: 500px;
}

.texto-tech{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Jura',sans-serif;
    color: white;
    text-align: left;
    font-size: 24px;
}

.imagem-integrantes{
    height: 200px;
    padding: auto;
    padding: 24px;
}

.conteudo-imagem-integrantes{
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow-x: auto;  
}

.imagem-legenda{
    text-align: center;
    font-family: 'Jura',sans-serif;
    font-size: 18px;
    color: white;
}

.footer{
    text-align:center;
    justify-content: center;
    margin-top: auto;
    padding-top: 4px;
    width: 100%;
    padding: 1px;
    color: white;
}

.copyright{
    font-family: 'Jura',sans-serif;
    text-align:center;
    font-size:20px;
}

.conteudo-projeto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.imagem-projeto{
    height: 300px;
}

.texto-projeto{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Jura',sans-serif;
    color: white;
    text-align: left;
    font-size: 24px;
}
